.form-field.rating .rating-stars{
  display: flex;
  gap: .25rem;
  color: var(--formsjs-disabled-color)
}

.form-field.rating .rating-stars input { /*display: none;*/ } 

.form-field.rating .rating-stars span { 
  display: block;
  width: 2rem; 
  height: 2rem 
} 

