@import './base.css';
@import './fields/checkbox.css';
@import './fields/color.css';
@import './fields/dates.css';
@import './fields/file.css';
@import './fields/list.css';
@import './fields/radio.css';
@import './fields/range.css';
/*@import './fields/ritchtext.css';*/
@import './fields/select.css';